<div class="col-xs-12">
  <div class="thumbnail text-center">
    <% if partner.image -%>
      <%= link_to(image_tag(partner.thumbnail.url), partner.link, :target => :blank, :rel => 'external') %>
    <% elsif partner.thumbnail -%>
      <%= image_tag(partner.thumbnail.url) %>
    <% end -%>
    <div class="caption">
      <h3>
        <% if partner.link.present? -%>
          <%= link_to(partner.title, partner.link, :target => :blank, :rel => 'external') %>
        <% else -%>
          <%= partner.title %>
        <% end -%>
      </h3>
      <%= render_copy_text(partner.body) %>
    </div>
  </div>
</div>