<%# cache [I18n.locale, resource.site, resource, 'home-v2'] do %>
<%
@artists = site.sections.named("artists").children
@features ||= site.features.live 
%>
<div class="container">
  <% if @features.any? %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'shared/carousel', :features => @features %>
      </div>
    </div> 
  <% end %>
  <% if resource.body.present? %>
  <div class="row">
    <section class="col-xs-12">
      <%= resource.body.html_safe %>  				
    </section>   
  </div>
  <% end %> 
  <% if @artists.try(:any?) %>
    <div class="row" id="artists">
      <div class="thumbnails uniform-height">
      <% @artists.each do |artist| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to(artist.public_url, :class => :thumbnail) do %>
            <%= image_fu(artist.thumbnail, '312x208#') %>
            <div class="caption"><h3><%= artist.title %></h3></div>
          <% end if artist.thumbnail %>
        </div>
      <% end %>
      </div>
    </div>  
  <% end %> 
</div> 
<%# end %>