<%# cache [I18n.locale, resource.site, resource, 'home-v2'] do %>
<%
@artists = site.sections.named("artists").children
@features ||= site.features.live 
%>
<div class="container">
  <% if @features.any? %>
    <div class="row">
      <div class="col-xs-12">
        <% rand_id = "carousel_#{rand(10000)}" %>
        <div class="carousel slide" id="<%= rand_id %>" data-interval="<%= site.carousel_interval * 1000 %>">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <% @features.each_with_index do |feature, index| %>
                <div class="item <%= 'active' if index == 0 %>">
                  <% if image = feature.thumbnail("800x600#") %>
                      <%= image_tag(image.url) %>
                  <% end %>
                  <% if feature.title.present? || feature.body.present? %>
                      <div class="carousel-caption"><p>
                        <%= "<strong>#{feature.title}</strong> ".html_safe if feature.title.present? %>
                        <%= "#{feature.body}".html_safe if feature.body.present? %>
                        <% if feature.owner and url = feature.owner.public_url %>
                            <%= link_to(t("features.view_more"), url, :class => 'btn inline features') %>
                        <% end %></p>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
          <!-- Carousel nav -->
          <a class="left carousel-control" href="#<%= rand_id %>" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#<%= rand_id %>" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></i></a>
        </div>
      </div>
    </div> 
  <% end %>
  <% if resource.body.present? %>
  <div class="row">
    <section class="col-xs-12">
      <%= resource.body.html_safe %>  				
    </section>   
  </div>
  <% end %> 
  <% if @artists.try(:any?) %>
    <div class="row" id="artists">
      <div class="thumbnails">
      <% @artists.each do |artist| %>
        <div class="col-xs-6 col-sm-4">
          <%= link_to(artist.public_url, :class => :thumbnail) do %>
            <%= image_fu(artist.thumbnail, '312x208#') %>
            <div class="caption"><h3><%= artist.title %></h3></div>
          <% end if artist.thumbnail %>
        </div>
      <% end %>
      </div>
    </div>  
  <% end %> 
</div> 
<%# end %>